@charset "UTF-8";

.container{
	width:60%;

}

a{
	color:inherit;
	text-decoration:none;
}


.category{
	background: #0b5ed7;	
	color:white;
	font-weight: 900;
}

ul{
	list-style: none;
	align-items: center;
	padding: 0;
}

#list-top{
	margin:0 auto;
	display:flex;
	justify-content: space-between;	
}
#list-top ul{
	display:flex;
}
#list-top ul li:not(:first-child){
	margin-left: 5px
}

select{
	width: 20rem;
	height : 32px;
	cursor : pointer;
	padding-left: 1rem;
}

.box{
	width:300px;
	margin:20px auto;
	border : 1px solid #aaa;
	padding : 30px 50px;
}
.box li {
	margin:10px 0;
}