<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="hr">
	<select resultType="hr.EmployeeDTO" id="list">
		SELECT e.first_name||'
		'||e.last_name name, e.*,
		d.department_name,
		j.job_title
		FROM employees
		e LEFT JOIN departments d
		ON
		e.department_id=d.department_id
		INNER JOIN
		jobs j ON e.job_id = j.job_id
		<if test="department_id != -1">
			<choose>
				<when test="department_id==0">WHERE e.department_id is null</when>
				<otherwise>WHERE e.department_id = #{department_id}</otherwise>

			</choose>
			<!-- <if test="department_id ==0 "> WHERE e.department_id is null</if> 
				<if test="department_id !=0">WHERE e.department_id = #{department_id}</if> -->
		</if>
		ORDER BY employee_id
	</select>


	<select resultType="hr.EmployeeDTO" id="info">
		SELECT e.first_name||'
		'||e.last_name name, e.*,
		d.department_name,
		j.job_title,m.first_name||' '||m.last_name manager_name
		FROM employees
		e LEFT JOIN departments d
		ON e.department_id=d.department_id
		INNER JOIN
		jobs j ON e.job_id = j.job_id
		LEFT JOIN employees m on
		e.manager_id=m.employee_id
		WHERE e.employee_id = #{id}
	</select>

	<select id="department_list" resultType="hr.DepartmentDTO">
		select distinct
		department_id, nvl(department_name,'소속없음') department_name
		from
		employees left join departments
		using ( department_id)
		order by
		department_name
	</select>
	
	<!-- 전체 부서목록 -->
	<select id="department_list_all" resultType="hr.DepartmentDTO">
		SELECT department_id, department_name
		FROM departments
		ORDER BY department_name
	
	</select>
	<!-- 전체 업무 목록 -->
	<select id="job_list_all" resultType="hr.JobDTO">
		SELECT * from jobs ORDER BY JOB_title
	
	</select>
<!-- 매니저로 지정할 전체 사원목록 별칭 사용하는 이유 생각해보기-->
	<select id="manager_list_all" resultType="hr.ManagerDTO">
		SELECT employee_id manager_id, first_name||' '||last_name manager_name
		FROM employees
		order by manager_name
	</select>


<!-- 변경저장 메소드 -->
	<update id="update">
		UPDATE employees
		SET last_name = #{last_name}, first_name=#{first_name},
		email=#{email}, phone_number=#{phone_number}, salary=#{salary},
		hire_date=#{hire_date},job_id=#{job_id}, department_id=#{department_id},
		manager_id=#{manager_id}
		WHERE employee_id = #{employee_id}
	</update>

	<delete id="delete">
		DELETE FROM employees WHERE employee_id = #{id}
	</delete>

</mapper>
